{% load static %}
<!doctype html>
<html class="no-js" lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Smart Control Brasil{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Soluções em automação industrial, robótica, engenharia embarcada, manutenção técnica e sistemas web.{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block canonical %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'institutional/imgs/logo/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/fontawesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/vendor/custom-font.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/seo.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
{% include 'institutional/partials/preloader.html' %}
{% include 'institutional/partials/back_to_top.html' %}
{% include 'institutional/partials/offcanvas.html' %}
{% include 'institutional/partials/header.html' %}
<div id="popup-search-box">
    <div class="box-inner-wrap d-flex align-items-center">
        <form id="form" action="{% url 'institutional:home' %}" method="get" role="search">
            <input id="popup-search" type="text" name="s" placeholder="Digite sua busca...">
        </form>
        <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
    </div>
</div>
<div id="smooth-wrapper">
    <div id="smooth-content">
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'institutional/partials/footer.html' %}
    </div>
</div>
<div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
<script src="{% static 'institutional/js/vendor/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/chroma.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/waypoints.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/meanmenu.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/swiper.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/gsap.js' %}"></script>
<script src="{% static 'institutional/js/plugins/ScrollSmoother.js' %}"></script>
<script src="{% static 'institutional/js/plugins/ScrollToPlugin.js' %}"></script>
<script src="{% static 'institutional/js/plugins/ScrollTrigger.js' %}"></script>
<script src="{% static 'institutional/js/plugins/SplitText.js' %}"></script>
<script src="{% static 'institutional/js/plugins/wow.js' %}"></script>
<script src="{% static 'institutional/js/vendor/magnific-popup.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/type.js' %}"></script>
<script src="{% static 'institutional/js/vendor/vanilla-tilt.js' %}"></script>
<script src="{% static 'institutional/js/plugins/nice-select.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/odometer.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/jquery-ui.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/parallax-scroll.js' %}"></script>
<script src="{% static 'institutional/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'institutional/js/plugins/isotope-docs.min.js' %}"></script>
<script src="{% static 'institutional/js/vendor/ajax-form.js' %}"></script>
<script src="{% static 'institutional/js/main.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
