{% extends 'institutional/base.html' %}
{% load static %}

{% block content %}
<!-- Banner area start -->
            <section class="banner-before">
                <div class="banner1__area error__area heading-bg p-relative overflow-hidden z-1">
                    <div class="banner1__shapes">
                        <div class="banner1__shapes-shape-1"></div>
                        <div class="banner1__shapes-shape-2"></div>
                        <div class="banner1__shapes-shape-3"></div>
                        <div class="banner1__shapes-shape-4"></div>
                        <div class="banner1__shapes-shape-5 line-to-bottom-360"></div>
                        <div class="banner1__shapes-shape-6 upDown">
                            <img src="{% static 'institutional/imgs/shapes/hero-1-shape-1.png' %}" alt="img not found">
                        </div>
                        <div class="banner1__shapes-shape-7 leftRight">
                            <img src="{% static 'institutional/imgs/shapes/hero-1-shape-2.png' %}" alt="img not found">
                        </div>
                        <div class="banner1__shapes-shape-8" data-background="{% static 'institutional/imgs/shapes/home-1-bg-shape.png' %}"></div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="error__content text-center hero p-relative">
                                    <span class="error__content-title end">404</span>
                                    <h1 class="error__content-sub-title _split_text">Oops... Page Not Found!</h1>
                                    <p class="error__content-dec rr_title_anim">We’re sorry. the page you requested could no be <br>found Please go back to the home page</p>
                                    <a href="{% url 'institutional:home' %}" class="rr-btn"><i class="fa-light fa-arrow-left"></i>Go Back Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
