{% extends 'institutional/base.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb area start -->
            <section class="breadcrumb__before p-relative">
                <div class="breadcrumb__area overflow-hidden position-relative" data-background="{% static 'institutional/imgs/shapes/breadcrumb-shape.png' %}">
                    <div class="breadcrumb__shapes">
                        <div class="breadcrumb__shapes-shape-1"></div>
                        <div class="breadcrumb__shapes-shape-2"></div>
                        <div class="breadcrumb__shapes-shape-3"></div>
                        <div class="breadcrumb__shapes-shape-4"></div>
                        <div class="breadcrumb__shapes-shape-5 upDown">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-1.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-6 line-to-bottom-360">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-2.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-7 line-to-bottom-360-l">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-3.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-8 leftRight">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-4.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-9">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-5.png' %}" alt="">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12">
                                <div class="breadcrumb__content">
                                    <div class="breadcrumb__title-wrapper">
                                        <h1 class="breadcrumb__title">FAQ</h1>
                                    </div>
                                    <div class="breadcrumb__menu">
                                        <nav>
                                            <ul>
                                                <li><span><a href="{% url 'institutional:home' %}"> <img src="{% static 'institutional/imgs/icon/home-icon.png' %}" alt="">Início</a></span></li>
                                                <li class="active"><span>FAQ</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--faq 5-->
            <section class="faq__area ask-question p-relative overflow-hidden section-space">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section__title-wrapper hero mb-40">
                                <h2 class="section__title-wrapper-title _split_text">Common Questions & <br> Solutions.</h2>
                            </div>
                            <div class="ask-question__faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".3s">
                                        <h5 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                What is the time needed for a generation?
                                            </button>
                                        </h5>
                                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".4s">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                What is the credit requirement per task?
                                            </button>
                                        </h5>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".5s">
                                        <h5 class="accordion-header" id="headingTow">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow">
                                                How will AI's role in self-driving vehicles evolve?
                                            </button>
                                        </h5>
                                        <div id="collapseTow" class="accordion-collapse collapse" aria-labelledby="headingTow" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".6s">
                                        <h5 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                What ethical risks arise in AI development?
                                            </button>
                                        </h5>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq__thumb-2">
                                <div class="faq__thumb return">
                                    <img src="{% static 'institutional/imgs/images/faq-img-1.png' %}" alt="Atendimento técnico para dúvidas frequentes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- project-tab-start -->
            <section class="rr-project-tab section-space-bottom overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section__title-wrapper text-center hero mb-45">
                                <h2 class="section__title-wrapper-title _split_text">Generative AI <br> Developed for Creatives</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="rr-project-tab__nav-tabs d-flex text-center align-items-center justify-content-center">
                                <nav class="nav" id="nav-tab" role="tablist">
                                    <button class="nav-link" id="morning-tab" data-bs-toggle="tab" data-bs-target="#morning-food" type="button" role="tab" aria-controls="morning-food" aria-selected="false" tabindex="-1"><img src="{% static 'institutional/imgs/icon/tab-1.png' %}" alt="tab-1"> Content Generator</button>
        
                                    <button class="nav-link active" id="nav-lunch-tab" data-bs-toggle="tab" data-bs-target="#nav-lunch" type="button" role="tab" aria-controls="nav-lunch" aria-selected="true"><img src="{% static 'institutional/imgs/icon/tab-2.png' %}" alt="tab-2"> Video Builder</button>
        
                                    <button class="nav-link" id="nav-dinner-tab" data-bs-toggle="tab" data-bs-target="#nav-dinner" type="button" role="tab" aria-controls="nav-dinner" aria-selected="false" tabindex="-1"><img src="{% static 'institutional/imgs/icon/tab-4.png' %}" alt="tab-3"> Audio Composer</button>
        
                                    <button class="nav-link" id="nav-fast-food-tab" data-bs-toggle="tab" data-bs-target="#nav-fast-food" type="button" role="tab" aria-controls="nav-fast-food" aria-selected="false" tabindex="-1"><img src="{% static 'institutional/imgs/icon/tab-3.png' %}" alt="tab-4"> Picture Generator</button>
        
                                    <button class="nav-link" id="nav-beverage-tab" data-bs-toggle="tab" data-bs-target="#nav-beverage" type="button" role="tab" aria-controls="nav-beverage" aria-selected="false" tabindex="-1"><img src="{% static 'institutional/imgs/icon/tab-5.png' %}" alt="tab-5"> Program Generator</button>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content mt-40 pastel-blue-bg" id="nav-tabContent">
                                <div class="tab-pane fade " id="morning-food" role="tabpanel" aria-labelledby="morning-tab">
                                    <div class="row rr-project-tab__wrapper">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="rr-project-tab__left-content hero">
                                                <h3 class="_split_text">Artificial intelligence <br>
                                                    powers text generation AI</h3>
                                                <div class="rr-project-tab__icon-list mt-30">
                                                    <ul>
                                                        <li><i class="fa-solid fa-check"></i> Self-Attention Models</li>
                                                        <li><i class="fa-solid fa-check"></i> Conditional Generative Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Pre-trained Neural Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Latent Variable Autoencoders</li>
                                                        <li><i class="fa-solid fa-check"></i> Transformer Architectures</li>
                                                    </ul>
                                                </div>
                                                <div class="rr-project-tab__btn mt-50">
                                                    <a href="{% url 'institutional:contact' %}" class="rr-btn blue-bg">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="rr-project-tab__right">
                                                <div class="rr-project-tab__item">
                                                    <div class="rr-project-tab__item-media">
                                                        <img src="{% static 'institutional/imgs/images/project-tab-img.png' %}" class="img-fluid" alt="not found">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active show" id="nav-lunch" role="tabpanel" aria-labelledby="nav-lunch-tab">
                                    <div class="row rr-project-tab__wrapper">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="rr-project-tab__left-content hero">
                                                <h3 class="_split_text">Artificial Intelligence <br>
                                                    Powers Text Generation AI</h3>
                                                <div class="rr-project-tab__icon-list mt-30">
                                                    <ul>
                                                        <li class="rr_title_anim"><i class="fa-solid fa-check"></i> Self-Attention Models</li>
                                                        <li class="rr_title_anim"><i class="fa-solid fa-check"></i> Conditional Generative Networks</li>
                                                        <li class="rr_title_anim"><i class="fa-solid fa-check"></i> Pre-trained Neural Networks</li>
                                                        <li class="rr_title_anim"><i class="fa-solid fa-check"></i> Latent Variable Autoencoders</li>
                                                        <li class="rr_title_anim"><i class="fa-solid fa-check"></i> Transformer Architectures</li>
                                                    </ul>
                                                </div>
                                                <div class="rr-project-tab__btn mt-50">
                                                    <a href="{% url 'institutional:contact' %}" class="rr-btn blue-bg">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="rr-project-tab__right">
                                                <div class="rr-project-tab__item fade-top">
                                                    <div class="rr-project-tab__item-media">
                                                        <img src="{% static 'institutional/imgs/images/project-tab-img.png' %}" class="img-fluid" alt="not found">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner-tab">
                                    <div class="row rr-project-tab__wrapper">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="rr-project-tab__left-content hero">
                                                <h3 >Artificial intelligence <br>
                                                    powers text generation AI</h3>
                                                <div class="rr-project-tab__icon-list mt-30">
                                                    <ul>
                                                        <li><i class="fa-solid fa-check"></i> Self-Attention Models</li>
                                                        <li><i class="fa-solid fa-check"></i> Conditional Generative Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Pre-trained Neural Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Latent Variable Autoencoders</li>
                                                        <li><i class="fa-solid fa-check"></i> Transformer Architectures</li>
                                                    </ul>
                                                </div>
                                                <div class="rr-project-tab__btn mt-50">
                                                    <a href="{% url 'institutional:contact' %}" class="rr-btn blue-bg">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="rr-project-tab__right">
                                                <div class="rr-project-tab__item fade-top">
                                                    <div class="rr-project-tab__item-media">
                                                        <img src="{% static 'institutional/imgs/images/project-tab-img.png' %}" class="img-fluid" alt="not found">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-fast-food" role="tabpanel" aria-labelledby="nav-fast-food-tab">
                                    <div class="row rr-project-tab__wrapper">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="rr-project-tab__left-content hero">
                                                <h3 >Artificial intelligence <br>
                                                    powers text generation AI</h3>
                                                <div class="rr-project-tab__icon-list mt-30">
                                                    <ul>
                                                        <li><i class="fa-solid fa-check"></i> Self-Attention Models</li>
                                                        <li><i class="fa-solid fa-check"></i> Conditional Generative Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Pre-trained Neural Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Latent Variable Autoencoders</li>
                                                        <li><i class="fa-solid fa-check"></i> Transformer Architectures</li>
                                                    </ul>
                                                </div>
                                                <div class="rr-project-tab__btn mt-50">
                                                    <a href="{% url 'institutional:contact' %}" class="rr-btn blue-bg">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="rr-project-tab__right">
                                                <div class="rr-project-tab__item fade-top">
                                                    <div class="rr-project-tab__item-media">
                                                        <img src="{% static 'institutional/imgs/images/project-tab-img.png' %}" class="img-fluid" alt="not found">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-beverage" role="tabpanel" aria-labelledby="nav-beverage-tab">
                                    <div class="row rr-project-tab__wrapper">
                                        <div class="col-lg-5 col-md-6">
                                            <div class="rr-project-tab__left-content hero">
                                                <h3>Artificial intelligence <br>
                                                    powers text generation AI</h3>
                                                <div class="rr-project-tab__icon-list mt-30">
                                                    <ul>
                                                        <li><i class="fa-solid fa-check"></i> Self-Attention Models</li>
                                                        <li><i class="fa-solid fa-check"></i> Conditional Generative Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Pre-trained Neural Networks</li>
                                                        <li><i class="fa-solid fa-check"></i> Latent Variable Autoencoders</li>
                                                        <li><i class="fa-solid fa-check"></i> Transformer Architectures</li>
                                                    </ul>
                                                </div>
                                                <div class="rr-project-tab__btn mt-50">
                                                    <a href="{% url 'institutional:contact' %}" class="rr-btn blue-bg">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6">
                                            <div class="rr-project-tab__right">
                                                <div class="rr-project-tab__item fade-top">
                                                    <div class="rr-project-tab__item-media">
                                                        <img src="{% static 'institutional/imgs/images/project-tab-img.png' %}" class="img-fluid" alt="not found">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
