{% extends 'institutional/base.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb area start -->
            <section class="breadcrumb__before p-relative">
                <div class="breadcrumb__area overflow-hidden position-relative" data-background="{% static 'institutional/imgs/shapes/breadcrumb-shape.png' %}">
                    <div class="breadcrumb__shapes">
                        <div class="breadcrumb__shapes-shape-1"></div>
                        <div class="breadcrumb__shapes-shape-2"></div>
                        <div class="breadcrumb__shapes-shape-3"></div>
                        <div class="breadcrumb__shapes-shape-4"></div>
                        <div class="breadcrumb__shapes-shape-5 upDown">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-1.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-6 line-to-bottom-360">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-2.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-7 line-to-bottom-360-l">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-3.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-8 leftRight">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-4.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-9">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-5.png' %}" alt="">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12">
                                <div class="breadcrumb__content">
                                    <div class="breadcrumb__title-wrapper">
                                        <h1 class="breadcrumb__title">Serviços</h1>
                                    </div>
                                    <div class="breadcrumb__menu">
                                        <nav>
                                            <ul>
                                                <li><span><a href="{% url 'institutional:home' %}"> <img src="{% static 'institutional/imgs/icon/home-icon.png' %}" alt="">Início</a></span></li>
                                                <li class="active"><span>Serviços</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="choose-us__area section-space">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="choose-us__media-wrapper">
                                <div class="choose-us__thumb">
                                    <div class="choose-us__thumb-img return">
                                        <img src="{% static 'institutional/imgs/images/choose-img-1.png' %}" alt="Equipe técnica em projeto de automação">
                                    </div>
                                    <div class="choose-us__thumb-img-2">
                                        <img src="{% static 'institutional/imgs/images/choose-img-2.png' %}" alt="Solução técnica para operação industrial">
                                    </div>
                                    <div class="choose-us__thumb-img-3">
                                        <img src="{% static 'institutional/imgs/images/choose-img-3.png' %}" alt="Integração de sistemas e automação">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="choose-us__content-wrap">
                                <div class="section__title-wrapper hero">
                                    <h2 class="section__title-wrapper-title _split_text">Incessantly Enhancing Its <br> Capabilities.</h2>
                                    <p class="section__title-wrapper-dec rr_title_anim mt-20">Fusce interdum neque vehicula ligula interdum, condimentum maximus neque <br> semper. Donec convallis risus vel ullamcorper laoreet. Pellentesque habitant morbi <br> tristique senectus et netus et malesuada.</p>
                                    <div class="choose-us__list-item">
                                        <ul>
                                            <li class="rr_title_anim"><img src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Orientação técnica para automação e sistemas</li>
                                            <li class="rr_title_anim"><img src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Integração de tecnologia para rotinas industriais</li>
                                            <li class="rr_title_anim"><img src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Suporte especializado para evolução operacional</li>
                                        </ul>
                                    </div>
                                    <a class="rr-btn btn-transparent mt-40" href="{% url 'institutional:about' %}">Explore Seken <i class="fa-solid fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <!--fast content-->
             <div class="rrseken__fast-content-area section-space-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="rrseken__fast-content-wrapper hero">
                                <h2 class="title _split_text">Fast Content Creation By AI</h2>
                                <div class="slider">
                                    <div class="rr-btn rrseken-swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                                    <div class="rr-btn rrseken-swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="swiper rrseken__fast-content">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-1">
                                                <img src="{% static 'institutional/imgs/icon/fast-content-1.png' %}" alt="fast-content-img">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>AI Generated Outcomes</h5>
                                                <p>Mattis eros lectors fermentum
                                                    Felis laborites convallis.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:contact' %}" class="learn-btn">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-2">
                                                <img src="{% static 'institutional/imgs/icon/fast-content-2.png' %}" alt="fast-content-img">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Transaction Portals</h5>
                                                <p>Mattis eros lectors fermentum
                                                    Felis laborites convallis.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:contact' %}" class="learn-btn learn-btn-black">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-3">
                                                <img src="{% static 'institutional/imgs/icon/fast-content-3.png' %}" alt="fast-content-img">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Bilingual and beyond</h5>
                                                <p>Mattis eros lectors fermentum
                                                    Felis laborites convallis.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:contact' %}" class="learn-btn learn-btn-black">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-4">
                                                <img src="{% static 'institutional/imgs/icon/fast-content-4.png' %}" alt="fast-content-img">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Assistance Platform</h5>
                                                <p>Mattis eros lectors fermentum
                                                    Felis laborites convallis.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:contact' %}" class="learn-btn learn-btn-black">Saiba mais <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--faq 5-->
             <section class="faq__area ask-question p-relative overflow-hidden section-space-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section__title-wrapper hero mb-40">
                                <h2 class="section__title-wrapper-title _split_text">Common Questions & <br> Solutions.</h2>
                            </div>
                            <div class="ask-question__faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".3s">
                                        <h5 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                What is the time needed for a generation?
                                            </button>
                                        </h5>
                                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".4s">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                What is the credit requirement per task?
                                            </button>
                                        </h5>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".5s">
                                        <h5 class="accordion-header" id="headingTow">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow">
                                                How will AI's role in self-driving vehicles evolve?
                                            </button>
                                        </h5>
                                        <div id="collapseTow" class="accordion-collapse collapse" aria-labelledby="headingTow" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".6s">
                                        <h5 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                What ethical risks arise in AI development?
                                            </button>
                                        </h5>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sed interdum ipsum fermentum, condimentum erat eget, egestas est. Etiam <br>
                                                    zel justo laoreet efficitu lectu tincidunt magna aliquam eros lorem rhoncus quis <br>
                                                    justo Sed non rutrum dolor. Vivamus ut placerat arcu. Donec dapibus sem a <br>
                                                    tellus pellentesque imperdiet arcu auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq__thumb-2">
                                <div class="faq__thumb return">
                                    <img src="{% static 'institutional/imgs/images/faq-img-1.png' %}" alt="Atendimento técnico Smart Control Brasil">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
