{% extends 'institutional/layouts/with_swiper_wow.html' %}
{% load institutional_media %}
{% load static %}

{% block content %}
<!-- breadcrumb area start -->
            <section class="breadcrumb__before p-relative">
                <div class="breadcrumb__area overflow-hidden position-relative" data-background="{% static 'institutional/imgs/shapes/breadcrumb-shape.png' %}">
                    <div class="breadcrumb__shapes">
                        <div class="breadcrumb__shapes-shape-1"></div>
                        <div class="breadcrumb__shapes-shape-2"></div>
                        <div class="breadcrumb__shapes-shape-3"></div>
                        <div class="breadcrumb__shapes-shape-4"></div>
                        <div class="breadcrumb__shapes-shape-5 upDown">
                            <img {% image_dimensions 'institutional/imgs/shapes/breadcrumb-shape-1.png' %} src="{% static 'institutional/imgs/shapes/breadcrumb-shape-1.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-6 line-to-bottom-360">
                            <img {% image_dimensions 'institutional/imgs/shapes/breadcrumb-shape-2.png' %} src="{% static 'institutional/imgs/shapes/breadcrumb-shape-2.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-7 line-to-bottom-360-l">
                            <img {% image_dimensions 'institutional/imgs/shapes/breadcrumb-shape-3.png' %} src="{% static 'institutional/imgs/shapes/breadcrumb-shape-3.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-8 leftRight">
                            <img {% image_dimensions 'institutional/imgs/shapes/breadcrumb-shape-4.png' %} src="{% static 'institutional/imgs/shapes/breadcrumb-shape-4.png' %}" alt="">
                        </div>
                        <div class="breadcrumb__shapes-shape-9">
                            <img {% image_dimensions 'institutional/imgs/shapes/breadcrumb-shape-5.png' %} src="{% static 'institutional/imgs/shapes/breadcrumb-shape-5.png' %}" alt="">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12">
                                <div class="breadcrumb__content">
                                    <div class="breadcrumb__title-wrapper">
                                        <h1 class="breadcrumb__title">Serviços de Automação, Robótica, Manutenção e Sistemas</h1>
                                    </div>
                                    <div class="breadcrumb__menu">
                                        <nav aria-label="Breadcrumb">
                                            <ul>
                                                <li><span><a href="{% url 'institutional:home' %}"> <img {% image_dimensions 'institutional/imgs/icon/home-icon.png' %} src="{% static 'institutional/imgs/icon/home-icon.png' %}" alt="">Início</a></span></li>
                                                <li class="active"><span>Serviços</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="choose-us__area section-space">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="choose-us__media-wrapper">
                                <div class="choose-us__thumb">
                                    <div class="choose-us__thumb-img return">
                                        <img src="{% static 'institutional/imgs/images/choose-ia.webp' %}" alt="Equipe técnica em projeto de automação" width="440" height="570">
                                    </div>
                                    <div class="choose-us__thumb-img-2">
                                        <img src="{% static 'institutional/imgs/images/choose-img-2.png' %}" alt="Solução técnica para operação industrial" width="377" height="202">
                                    </div>
                                    <div class="choose-us__thumb-img-3">
                                        <img src="{% static 'institutional/imgs/images/choose-img-3.png' %}" alt="Integração de sistemas e automação" width="390" height="271">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="choose-us__content-wrap">
                                <div class="section__title-wrapper hero">
                                    <h2 class="section__title-wrapper-title _split_text">Engenharia e Tecnologia para <br> Operações Mais Eficientes</h2>
                                    <p class="section__title-wrapper-dec rr_title_anim mt-20">A Smart Control Brasil integra engenharia, automação industrial, robótica, manutenção <br> e sistemas digitais para desenvolver soluções alinhadas às necessidades reais <br> de cada operação.</p>
                                    <div class="choose-us__list-item">
                                        <ul>
                                            <li class="rr_title_anim"><img {% image_dimensions 'institutional/imgs/icon/choose-icon-1.png' %} src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Automação industrial com tecnologias Mitsubishi Electric</li>
                                            <li class="rr_title_anim"><img {% image_dimensions 'institutional/imgs/icon/choose-icon-1.png' %} src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Robótica inteligente para atendimento, educação e operações</li>
                                            <li class="rr_title_anim"><img {% image_dimensions 'institutional/imgs/icon/choose-icon-1.png' %} src="{% static 'institutional/imgs/icon/choose-icon-1.png' %}" alt="">Engenharia, manutenção e sistemas sob medida</li>
                                        </ul>
                                    </div>
                                    <a class="rr-btn btn-transparent mt-40" href="{% url 'institutional:about' %}">Conheça Nossa Empresa <i class="fa-solid fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <!-- services slider -->
             <div class="rrseken__fast-content-area section-space-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="rrseken__fast-content-wrapper hero">
                                <h2 class="title _split_text">Soluções para Diferentes Desafios Operacionais</h2>
                                <div class="slider">
                                    <div class="rr-btn rrseken-swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                                    <div class="rr-btn rrseken-swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="swiper rrseken__fast-content">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-1">
                                                <img {% image_dimensions 'institutional/imgs/icon/fast-content-1.png' %} src="{% static 'institutional/imgs/icon/fast-content-1.png' %}" alt="">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Automação Industrial</h5>
                                                <p>Soluções Mitsubishi Electric para controle, acionamento, supervisão e integração de processos industriais.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:mitsubishi_automacao_industrial' %}" class="learn-btn">Ver automação Mitsubishi <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-2">
                                                <img {% image_dimensions 'institutional/imgs/icon/fast-content-2.png' %} src="{% static 'institutional/imgs/icon/fast-content-2.png' %}" alt="">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Robótica Inteligente</h5>
                                                <p>Robôs Xyron para educação, atendimento, serviços, segurança e aplicações corporativas.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:xyron' %}" class="learn-btn learn-btn-black">Conhecer robôs Xyron <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-3">
                                                <img {% image_dimensions 'institutional/imgs/icon/fast-content-3.png' %} src="{% static 'institutional/imgs/icon/fast-content-3.png' %}" alt="">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Manutenção Industrial</h5>
                                                <p>Atendimento técnico em campo, diagnóstico de falhas e suporte para aumentar disponibilidade e confiabilidade operacional.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:manutencao_industrial_campo' %}" class="learn-btn learn-btn-black">Solicitar manutenção <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="rrseken__fast-content-item">
                                            <div class="rrseken__fast-content-img rrseken__fast-content-img-4">
                                                <img {% image_dimensions 'institutional/imgs/icon/fast-content-4.png' %} src="{% static 'institutional/imgs/icon/fast-content-4.png' %}" alt="">
                                            </div>
                                            <div class="rrseken__fast-content-text">
                                                <h5>Sistemas e Soluções Digitais</h5>
                                                <p>Desenvolvimento de sistemas web, aplicações Python, integrações e soluções digitais sob medida.</p>
                                            </div>
                                            <div class="rrseken__fast-content mt-40">
                                                <a href="{% url 'institutional:sistemas_websites_python' %}" class="learn-btn learn-btn-black">Planejar solução <i class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--faq 5-->
             <section class="faq__area ask-question p-relative overflow-hidden section-space-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section__title-wrapper hero mb-40">
                                <h2 class="section__title-wrapper-title _split_text">Perguntas Frequentes sobre <br> Nossos Serviços</h2>
                            </div>
                            <div class="ask-question__faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".3s">
                                        <h5 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                Quais serviços a Smart Control Brasil oferece?
                                            </button>
                                        </h5>
                                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Atuamos com automação industrial, robótica inteligente, manutenção industrial <br>                                                    e desenvolvimento de sistemas e soluções digitais, integrando engenharia <br>                                                    e tecnologia conforme a necessidade de cada projeto.</p>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".4s">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Vocês desenvolvem soluções personalizadas?
                                            </button>
                                        </h5>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sim. Avaliamos cada aplicação para definir a arquitetura, equipamentos, integração <br>                                                    e suporte mais adequados às necessidades técnicas e operacionais <br>                                                    do cliente.</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".5s">
                                        <h5 class="accordion-header" id="headingTow">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow">
                                                A Smart Control Brasil realiza atendimento técnico em campo?
                                            </button>
                                        </h5>
                                        <div id="collapseTow" class="accordion-collapse collapse" aria-labelledby="headingTow" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Sim. Prestamos suporte técnico e manutenção em campo, incluindo diagnóstico <br>                                                    de falhas, intervenções em equipamentos e apoio à confiabilidade <br>                                                    operacional.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="accordion-item ask-question__faq-item faq__item wow fadeInLeft animated" data-wow-delay=".6s">
                                        <h5 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                Como solicitar uma avaliação ou proposta?
                                            </button>
                                        </h5>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p><a href="{% url 'institutional:contact' %}">Entre em contato</a> com nossa equipe e descreva sua necessidade. A partir das <br>                                                    informações iniciais, avaliamos o escopo e orientamos os próximos passos <br>                                                    técnicos e comerciais.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq__thumb-2">
                                <div class="faq__thumb return">
                                    <img src="{% static 'institutional/imgs/images/faq-img-1.webp' %}" alt="Atendimento técnico Smart Control Brasil" width="550" height="720" loading="lazy" decoding="async">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
