{% extends 'institutional/base.html' %}
{% load static %}

{% block content %}
<!-- breadcrumb area start -->
            <section class="breadcrumb__before p-relative">
                <div class="breadcrumb__area overflow-hidden position-relative" data-background="{% static 'institutional/imgs/shapes/breadcrumb-shape.png' %}">
                    <div class="breadcrumb__shapes">
                        <div class="breadcrumb__shapes-shape-1"></div>
                        <div class="breadcrumb__shapes-shape-2"></div>
                        <div class="breadcrumb__shapes-shape-3"></div>
                        <div class="breadcrumb__shapes-shape-4"></div>
                        <div class="breadcrumb__shapes-shape-5 upDown">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-1.png' %}" alt="img not found">
                        </div>
                        <div class="breadcrumb__shapes-shape-6 line-to-bottom-360">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-2.png' %}" alt="img not found">
                        </div>
                        <div class="breadcrumb__shapes-shape-7 line-to-bottom-360-l">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-3.png' %}" alt="img not found">
                        </div>
                        <div class="breadcrumb__shapes-shape-8 leftRight">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-4.png' %}" alt="img not found">
                        </div>
                        <div class="breadcrumb__shapes-shape-9">
                            <img src="{% static 'institutional/imgs/shapes/breadcrumb-shape-5.png' %}" alt="img not found">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12">
                                <div class="breadcrumb__content">
                                    <div class="breadcrumb__title-wrapper">
                                        <h1 class="breadcrumb__title">Testimonial</h1>
                                    </div>
                                    <div class="breadcrumb__menu">
                                        <nav>
                                            <ul>
                                                <li><span><a href="{% url 'institutional:home' %}"> <img src="{% static 'institutional/imgs/icon/home-icon.png' %}" alt="img not found">Home</a></span></li>
                                                <li class="active"><span>Testimonial</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="testimonial__area section-space overflow-hidden">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="section__title-wrapper hero text-center mb-30">
                            <h2 class="section__title-wrapper-title _split_text">Reviews By Our Customers</h2>
                        </div>
                        <div class="testimonial__review">
                            <div class="icon">
                                <img src="{% static 'institutional/imgs/icon/testimonial-icon-1.png' %}" alt="img not found">
                            </div>
                            <div class="title-star-box">
                                <div class="star-list">
                                    <h4 class="title">4.9/5</h4>
                                    <div class="star-icon">
                                        <ul>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="dec">Based On 27 Reviews On Hubspot</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__carousel mt-70 swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__item testimonial__item-inner">
                                    <div class="testimonial__item-logo">
                                        <img src="{% static 'institutional/imgs/icon/testimonial-card-icon-1.png' %}" alt="img not found">
                                    </div>
                                    <p class="testimonial__item-dec">“Morbi sed risus dignissim Fusce euismod lacus non turpis aculis zincidun Corbito utricles neque placera sapien ultrices congue elemen mattis quam mauris”</p>
                                    <div class="testimonial__item-author">
                                        <img src="{% static 'institutional/imgs/icon/blog-man-icon-1.png' %}" alt="img not found">
                                        <div class="testimonial__item-author-title">
                                            <h5 class="title"><a href="#">Malcolm Function</a></h5>
                                            <span>Marketing Lead</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item testimonial__item-inner testimonial__item-1">
                                    <div class="testimonial__item-logo">
                                        <img src="{% static 'institutional/imgs/icon/testimonial-card-icon-2.png' %}" alt="img not found">
                                    </div>
                                    <p class="testimonial__item-dec">“Morbi sed risus dignissim Fusce euismod lacus non turpis aculis zincidun Corbito utricles neque placera sapien ultrices congue elemen mattis quam mauris”</p>
                                    <div class="testimonial__item-author">
                                        <img src="{% static 'institutional/imgs/icon/blog-man-icon-1.png' %}" alt="img not found">
                                        <div class="testimonial__item-author-title">
                                            <h5 class="title"><a href="#">Malcolm Function</a></h5>
                                            <span>Marketing Lead</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item testimonial__item-inner testimonial__item-2">
                                    <div class="testimonial__item-logo">
                                        <img src="{% static 'institutional/imgs/icon/testimonial-card-icon-3.png' %}" alt="img not found">
                                    </div>
                                    <p class="testimonial__item-dec">“Morbi sed risus dignissim Fusce euismod lacus non turpis aculis zincidun Corbito utricles neque placera sapien ultrices congue elemen mattis quam mauris”</p>
                                    <div class="testimonial__item-author">
                                        <img src="{% static 'institutional/imgs/icon/blog-man-icon-1.png' %}" alt="img not found">
                                        <div class="testimonial__item-author-title">
                                            <h5 class="title"><a href="#">Malcolm Function</a></h5>
                                            <span>Marketing Lead</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item testimonial__item-inner testimonial__item-3">
                                    <div class="testimonial__item-logo">
                                        <img src="{% static 'institutional/imgs/icon/testimonial-card-icon-4.png' %}" alt="img not found">
                                    </div>
                                    <p class="testimonial__item-dec">“Morbi sed risus dignissim Fusce euismod lacus non turpis aculis zincidun Corbito utricles neque placera sapien ultrices congue elemen mattis quam mauris”</p>
                                    <div class="testimonial__item-author">
                                        <img src="{% static 'institutional/imgs/icon/blog-man-icon-1.png' %}" alt="img not found">
                                        <div class="testimonial__item-author-title">
                                            <h5 class="title"><a href="#">Malcolm Function</a></h5>
                                            <span>Marketing Lead</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item testimonial__item-inner testimonial__item-4">
                                    <div class="testimonial__item-logo">
                                        <img src="{% static 'institutional/imgs/icon/testimonial-card-icon-5.png' %}" alt="img not found">
                                    </div>
                                    <p class="testimonial__item-dec">“Morbi sed risus dignissim Fusce euismod lacus non turpis aculis zincidun Corbito utricles neque placera sapien ultrices congue elemen mattis quam mauris”</p>
                                    <div class="testimonial__item-author">
                                        <img src="{% static 'institutional/imgs/icon/blog-man-icon-1.png' %}" alt="img not found">
                                        <div class="testimonial__item-author-title">
                                            <h5 class="title"><a href="#">Malcolm Function</a></h5>
                                            <span>Marketing Lead</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--further-2-->
            <section class="further-2__area overflow-hidden z-1 p-relative">
                <div class="further-2__wrapper heading-bg section-space-2 p-relative overflow-hidden">
                    <div class="further-2__shapes">
                        <div class="further-2__shapes-shape-1"></div>
                        <div class="further-2__shapes-shape-2"></div>
                        <div class="further-2__shapes-shape-3"></div>
                        <div class="further-2__shapes-shape-4"></div>
                        <div class="further-2__shapes-shape-5">
                            <img src="{% static 'institutional/imgs/shapes/further-2-shape-1.png' %}" alt="img not found">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="further-2__content">
                                    <div class="section__title-wrapper hero">
                                        <h2 class="section__title-wrapper-title-2 _split_text mt-10">Download the app for <br> free from the Google Store</h2>
                                        <p class="section__title-wrapper-dec-2 rr_title_anim mt-10">Build 3D models from text prompts in no time have a go at it see all-in-one <br> platform to build and launch conversational chatbots.</p>
                                    </div>
                                    <div class="further-2__content-btn-wrap">
                                        <div class="button">
                                            <div class="icon">
                                                <img src="{% static 'institutional/imgs/icon/further-icon-1.png' %}" alt="">
                                            </div>
                                            <div class="text">
                                                <span>Download on the</span>
                                                <h6><a href="#">App Store</a></h6>
                                            </div>
                                        </div>
                                        <div class="button button-2">
                                            <div class="icon">
                                                <img src="{% static 'institutional/imgs/icon/further-icon-2.png' %}" alt="">
                                            </div>
                                            <div class="text">
                                                <span>Get it on</span>
                                                <h6><a href="#">Google Play</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="further-2__thumb leftRight">
                                    <img src="{% static 'institutional/imgs/images/further-img-1.png' %}" alt="img not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>

            <!--latest-blog start-->
            <section class="blog-4__area section-space">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section__title-wrapper text-center mb-50 hero">
                                <h2 class="section__title-wrapper-title _split_text">See our latest from blog</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-minus-70">
                        <div class="col-12">
                            <div class="swiper blog-4-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="blog-4__item mb-70">
                                            <div class="blog-4__item-media-wrap">
                                                <div class="blog-4__item-thumb">
                                                    <div class="blog-4__item-thumb-media">
                                                        <img src="{% static 'institutional/imgs/blog/blog-img-11.png' %}" alt="img not found">
                                                        <div class="icon">
                                                            <span>Creative</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="blog-4__item-cta">
                                                    <span class="date"><i class="fa-sharp fa-solid fa-calendar-days"></i>April 18, 2024</span>
                                                    <span class="date"><i class="fa-sharp fa-regular fa-comments"></i>3 Comments</span>
                                                 </div>
                                            </div>
                                             <div class="blog-4__item-content">
                                                <h3 class="blog-4__title"><a href="{% url 'institutional:blog' %}">Courses designed build advanced AI skills</a></h3>
                                                <div class="blog-4__item-content-author">
                                                    <img src="{% static 'institutional/imgs/icon/blog-man-icon-4.png' %}" alt="img not found">
                                                    <h5 class="title"><span>By</span> Hanson Deck</h5>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="blog-4__item mb-70">
                                            <div class="blog-4__item-media-wrap">
                                                <div class="blog-4__item-thumb">
                                                    <div class="blog-4__item-thumb-media">
                                                        <img src="{% static 'institutional/imgs/blog/blog-img-12.png' %}" alt="img not found">
                                                        <div class="icon">
                                                            <span>Animation</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="blog-4__item-cta">
                                                    <span class="date"><i class="fa-sharp fa-solid fa-calendar-days"></i>June 06, 2024</span>
                                                    <span class="date"><i class="fa-sharp fa-regular fa-comments"></i>3 Comments</span>
                                                 </div>
                                            </div>
                                             <div class="blog-4__item-content">
                                                <h3 class="blog-4__title"><a href="{% url 'institutional:blog' %}">Developing understanding of AI model usage</a></h3>
                                                <div class="blog-4__item-content-author">
                                                    <img src="{% static 'institutional/imgs/icon/blog-man-icon-5.png' %}" alt="img not found">
                                                    <h5 class="title"><span>By</span> Russell Sprout</h5>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="blog-4__item mb-70">
                                            <div class="blog-4__item-media-wrap">
                                                <div class="blog-4__item-thumb">
                                                    <div class="blog-4__item-thumb-media">
                                                        <img src="{% static 'institutional/imgs/blog/blog-img-13.png' %}" alt="img not found">
                                                        <div class="icon">
                                                            <span>Creative</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="blog-4__item-cta">
                                                    <span class="date"><i class="fa-sharp fa-solid fa-calendar-days"></i>July 26, 2024</span>
                                                    <span class="date"><i class="fa-sharp fa-regular fa-comments"></i>3 Comments</span>
                                                 </div>
                                            </div>
                                             <div class="blog-4__item-content">
                                                <h3 class="blog-4__title"><a href="{% url 'institutional:blog' %}">Examples of companies thriving with AI</a></h3>
                                                <div class="blog-4__item-content-author">
                                                    <img src="{% static 'institutional/imgs/icon/blog-man-icon-6.png' %}" alt="img not found">
                                                    <h5 class="title"><span>By</span> Phillip Anthropy</h5>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="blog-4__item mb-70">
                                            <div class="blog-4__item-media-wrap">
                                                <div class="blog-4__item-thumb">
                                                    <div class="blog-4__item-thumb-media">
                                                        <img src="{% static 'institutional/imgs/blog/blog-img-10.png' %}" alt="img not found">
                                                        <div class="icon">
                                                            <span>Creative</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="blog-4__item-cta">
                                                    <span class="date"><i class="fa-sharp fa-solid fa-calendar-days"></i>April 18, 2024</span>
                                                    <span class="date"><i class="fa-sharp fa-regular fa-comments"></i>3 Comments</span>
                                                 </div>
                                            </div>
                                            <div class="blog-4__item-content">
                                                <h3 class="blog-4__title"><a href="{% url 'institutional:blog' %}">Developing understanding of AI model usage</a></h3>
                                                <div class="blog-4__item-content-author">
                                                    <img src="{% static 'institutional/imgs/icon/blog-man-icon-2.png' %}" alt="img not found">
                                                    <h5 class="title"><span>By</span> Russell Sprout</h5>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
