{% extends "institutional/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'institutional/css/experience-center/experience-center.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/experience-center/experience-components.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/experience-center/experience-animations.css' %}">
    <link rel="stylesheet" href="{% static 'institutional/css/experience-center/experience-responsive.css' %}">
{% endblock %}

{% block content %}
<section class="experience-center" aria-labelledby="experience-title">
    <div class="experience-center__shell experience-center__shell--single">
        <div class="experience-center__hero">
            <span class="experience-center__eyebrow">Smart360 Experience Center</span>
            <h1 id="experience-title">{{ experience.name }}</h1>
            <p>{{ experience.short_description }}</p>
            <div class="experience-center__actions">
                <span class="experience-card__locked">Em breve</span>
                <a href="{% url 'institutional:experience_center_play' %}" class="experience-center__ghost-button">
                    Voltar ao hub
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
