{% extends "backoffice/base.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block page_title_breadcrumb %}Acessos por Unidade{% endblock page_title_breadcrumb %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}

    <div class="card">
        <div class="card-header"><h5 class="card-title mb-0">Acesso por unidade</h5></div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.user %}</div>
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.business_unit %}</div>
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.department %}</div>
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.team %}</div>
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.scope %}</div>
                <div class="col-md-6">{% include "backoffice/partials/field.html" with field=form.is_active %}</div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2 mb-3">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a class="btn btn-light" href="{% url 'backoffice:business_unit_membership_list' %}">Cancelar</a>
    </div>
</form>
{% endblock content %}
