{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'pt-BR' }}" {% block html_class %}{% endblock html_class %}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Painel Administrativo{% endblock title %} | Smart Control Brasil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Painel Administrativo - Smart Control Brasil">
    <meta name="author" content="Smart Control Brasil">
    <link rel="shortcut icon" href="{% static 'institutional/imgs/logo/favicon.png' %}" type="image/png">

    {% block css %}
        {% block extra_css %}{% endblock extra_css %}
        <link href="{% static 'backoffice/hando/css/app.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'backoffice/hando/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'backoffice/hando/css/erp-forms.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'backoffice/hando/css/erp-brand.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'backoffice/hando/js/head.js' %}"></script>
    {% endblock css %}
</head>

<body {% block body_class %}{% endblock body_class %}>
    <div id="app-layout">
        {% include "backoffice/partials/menu.html" %}

        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    {% if messages %}
                        <div class="pt-3">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% block page_content %}
                    <div class="container-fluid">
                        <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column gap-2">
                            <div class="flex-grow-1">
                                <h4 class="fs-18 fw-semibold m-0">{% block page_title %}Painel Administrativo{% endblock page_title %}</h4>
                                <ol class="breadcrumb m-0 py-1">
                                    <li class="breadcrumb-item"><a href="{% url 'backoffice:dashboard' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active">{% block breadcrumb_title %}{% block page_title_breadcrumb %}Painel{% endblock page_title_breadcrumb %}{% endblock breadcrumb_title %}</li>
                                </ol>
                            </div>
                        </div>
                        {% block content %}{% endblock content %}
                    </div>
                {% endblock page_content %}
            </div>

            {% include "backoffice/partials/footer.html" %}
        </div>
    </div>

    {% block modal %}{% endblock modal %}

    {% block javascript %}
        <script src="{% static 'backoffice/hando/js/vendors.js' %}"></script>
        <script src="{% static 'backoffice/hando/js/app.js' %}"></script>
        {% block extra_javascript %}{% endblock extra_javascript %}
    {% endblock javascript %}
</body>
</html>
