{% extends "backoffice/vertical.html" %}
{% load backoffice_hando %}

{% block title %}{{ page_title }}{% endblock title %}

{% block page_content %}
<div class="container-fluid">
    <div class="py-3 d-flex flex-wrap align-items-center justify-content-between gap-2">
        <h4 class="fs-18 fw-semibold m-0">{{ page_title }}</h4>
        {% block form_header_actions %}{% endblock form_header_actions %}
    </div>
    <div class="card">
        <div class="card-body">
            <form method="post" class="erp-form" novalidate {% if form_enctype %}enctype="{{ form_enctype }}"{% elif form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {% block form_fields %}
                    {% backoffice_form_fields form %}
                {% endblock form_fields %}
                <div class="erp-form-actions mt-4 d-flex flex-wrap gap-2">
                    <button type="submit" class="btn btn-primary">{{ submit_label|default:"Salvar" }}</button>
                    <button type="button" class="btn btn-light" onclick="history.back()">{{ cancel_label|default:"Cancelar" }}</button>
                    {% block form_extra_actions %}{% endblock form_extra_actions %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}
